In [20]:
import pandas as pd
import numpy as np
import os
os.getcwd()
import glob
from datetime import datetime


glob.glob('*csv')

['employee_data1.csv', 'employee_data2.csv']

In [21]:
all_data = pd.DataFrame()
for f in glob.glob('*csv'):
    df = pd.read_csv(f)
    all_data = all_data.append(df,ignore_index=True)

In [22]:
us_state_abbrev=dict()
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [23]:
all_data[['Name','Lastname']] = all_data.Name.str.split(' ',expand=True)

def SecSSN(row):
    last4 = row[-4:-1]
    return "***-**-" + last4
all_data['MaskedSSN']=all_data['SSN'].map(SecSSN)
all_data['StateAbb'] = all_data.State.map(us_state_abbrev)
all_data['DOB'] = all_data['DOB'].astype('datetime64[ns]')
all_data['DOB'] =  pd.to_datetime(all_data['DOB'], format='%m/%d/%Y')

In [25]:
ordered=['Emp ID', 'Name','Lastname','DOB', 'MaskedSSN', 'StateAbb']
all_data2=all_data.reindex(columns=ordered)

print (all_data2)

      Emp ID       Name    Lastname        DOB   MaskedSSN StateAbb
0        214      Sarah     Simpson 1985-12-04  ***-**-816       FL
1         15   Samantha        Lara 1993-09-08  ***-**-752       CO
2        411      Stacy     Charles 1957-12-20  ***-**-852       PA
3        166   Michelle         Roy 1978-07-29  ***-**-394       MI
4         39     Joseph      Rogers 1985-03-28  ***-**-351       MN
5        423      Erica       Hines 1975-10-13  ***-**-615       NY
6        192        Zoe       Patel 1967-12-20  ***-**-081       WI
7        162    Matthew      Harvey 1990-01-20  ***-**-034       TN
8        131      Shawn       Davis 1961-07-21  ***-**-158       WV
9         20      April     Baldwin 1961-08-07  ***-**-201       MO
10       246    Vincent     Daniels 1972-01-06  ***-**-275       MT
11       525        Ann      Fields 1960-08-22  ***-**-791       IA
12       392    Jeffrey     Pearson 1979-05-05  ***-**-257       IL
13       474    Heather     Johnson 1989-09-23  ***-**-090       GA
14       478    Melissa    Fletcher 1979-03-14  ***-**-688       RI
15       101   Kimberly     Alvarez 1984-09-04  ***-**-868       LA
16        52     Monica     Jimenez 1988-04-08  ***-**-166       ND
17       182     Steven     Johnson 1962-05-28  ***-**-707       NE
18       637      Sarah        Wood 1972-06-15  ***-**-671       FL
19       510      Jesus    Petersen 1958-03-28  ***-**-077       OK
20       122     Rhonda     Rosales 1963-04-10  ***-**-028       AL
21       294     Nicole  Richardson 1981-09-09  ***-**-522       LA
22       327   Jennifer      Mendez 1977-07-20  ***-**-199       OR
23       145     Sandra       Petty 1981-01-30  ***-**-762       NC
24       565    Michael      Hester 1987-04-13  ***-**-683       SD
25       590     Joseph       Brown 1982-08-28  ***-**-474       NH
26       340   Michelle      Cooper 1993-08-23  ***-**-230       WA
27       176    Barbara        Wise 1991-12-15  ***-**-766       IN
28        63      Carol     Rosales 1984-07-20  ***-**-490       NJ
29       121       Mark       Villa 1969-02-24  ***-**-220       MS
...      ...        ...         ...        ...         ...      ...
2740     804       Gail     Johnson 1990-06-06  ***-**-361       CT
2741     212     Connie       Olsen 1988-12-30  ***-**-686       OH
2742     417    Michael      Church 1959-11-27  ***-**-507       KY
2743     555       Mike      Wilson 1962-12-23  ***-**-731       MN
2744     519    Crystal      Fisher 1972-11-10  ***-**-974       ID
2745     232    Charles      Duncan 1980-02-14  ***-**-985       NC
2746     898        Roy     Perkins 1988-10-10  ***-**-809       FL
2747      24     Dustin     Jackson 1979-01-06  ***-**-234       HI
2748    2086      Laura   Contreras 1962-05-17  ***-**-654       WY
2749    1709    Timothy      Morton 1993-07-02  ***-**-387       SD
2750    1606       John    Morrison 1984-01-10  ***-**-447       MA
2751    1917     Joseph        Wood 1957-11-02  ***-**-534       FL
2752     928      Oscar      Romero 1987-03-08  ***-**-563       IL
2753    1175    Shannon      Wilson 1969-11-19  ***-**-397       UT
2754    1500      James   Armstrong 1975-07-23  ***-**-455       ND
2755     848     Ronnie     Ellison 1980-04-22  ***-**-226       WA
2756     216     Joshua      Wilcox 1986-09-27  ***-**-715       OK
2757     274      Bryan       Rocha 1964-02-03  ***-**-899       AZ
2758     756    Matthew       Flynn 1957-10-05  ***-**-138       VA
2759    1925     Amanda      Turner 1960-12-28  ***-**-706       MN
2760    1731     Steven       White 1959-03-05  ***-**-489       MA
2761    1019     Andrea       Berry 1989-02-14  ***-**-629       AL
2762    1155      Shawn       Burke 1960-01-01  ***-**-907       CA
2763     449     Rhonda      Wilson 1987-01-08  ***-**-083       VT
2764     115        Jay        Hart 1963-05-14  ***-**-625       CT
2765    1636     Ashley    Martinez 1986-04-13  ***-**-538       NV
2766      84  Elizabeth    Johnston 1974-08-03  ***-**-293       IL
2767    1478     Andrew     Acevedo 1991-06-29  ***-**-696       MT
2768     384   Michelle       Lynch 1972-03-28  ***-**-804       PA
2769    1582   Cristian       Gibbs 1963-02-08  ***-**-947       CT

[2770 rows x 6 columns]